@page "/sales"

@using AdventureWorks.Models.Models
@using AdventureWorks.Web.Api.Client

@inject NavigationManager NavigationManager

<h3>Sales List</h3>
@*
<div>
    <button style="float:right" class="btn btn-primary" @onclick="(() => AddSale())">
        <i class="fas fa-sale-plus"></i>
        Add Sale
    </button>
</div>*@
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-outline-primary" style="margin:0px, 5px, 2px, 5px" @onclick="DecreasePage">Previous Page</button>
        <button class="btn btn-outline-primary" style="margin:0px, 5px, 2px, 5px" @onclick="IncreasePage">Next Page</button>
        <select class="form-control" size="margin:0px, 5px, 2px, 5px" @onchange="@OnSelect" style="width:150px">
            @foreach (var size in sizeOptions)
            {
                <option value=@size>@size</option>
            }
        </select>
    </div>
</div>

@if (sales == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Sales Order ID</th>
                <th>Order Date</th>
                <th>Bill To Address ID</th>
                <th>Ship To Address ID</th>
                <th>Total Due</th>
                <th>Sales Order Number</th>
                <th>
                    <button style="float:right" class="btn btn-primary" @onclick="(() => AddSale())">
                        <i class="fas fa-sale-plus"></i>
                        Add Sale
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in sales)
            {
                <tr>
                    <td>@sale.SalesOrderID</td>
                    <td>@sale.OrderDate</td>
                    <td>@sale.BillToAddressID</td>
                    <td>@sale.ShipToAddressID</td>
                    <td>@sale.TotalDue</td>
                    <td>@sale.SalesOrderNumber</td>
                    <td>
                        <button class="btn btn-outline-dark" @onclick="(() => GetSale(sale.SalesOrderID))">
                            Edit
                        </button>

                        <button class="btn btn-outline-danger" @onclick="(() => DeleteConfirm(sale.SalesOrderID))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    protected List<SalesOrderHeaderModel> sales;
    protected List<string> sizeOptions = new List<string>() { "25", "50", "100", "1000" };
    protected string selectedSize = "25";
    private int currentPage = 1;
    //protected SalesOrderHeaderModel sale;


    protected override async Task OnInitializedAsync()
    {
        sales = SalesClient.GetSalesClient(currentPage, Convert.ToInt32(selectedSize));
    }

    protected void OnSelect(ChangeEventArgs e)
    {
        selectedSize = e.Value.ToString();
        sales = SalesClient.GetSalesClient(currentPage, Convert.ToInt32(selectedSize));
    }

    private void IncreasePage()
    {
        currentPage++;
        sales = SalesClient.GetSalesClient(currentPage, Convert.ToInt32(selectedSize));
    }

    private void DecreasePage()
    {
        currentPage--;
        sales = SalesClient.GetSalesClient(currentPage, Convert.ToInt32(selectedSize));
    }


    protected void AddSale()
    {
        NavigationManager.NavigateTo($"sales/add");
    }

    protected void GetSale(int id)
    {
        NavigationManager.NavigateTo($"sales/edit/{id}");
        //SalesClient.GetOneSaleClient(id);
    }

    protected void DeleteConfirm(int salesOrderId)
    {
        NavigationManager.NavigateTo($"sales/delete/{salesOrderId}");
        //SalesClient.DeleteSaleClient(id);
    }
}
